Django==4.2.11
psycopg2-binary>=2.9.10
python-decouple==3.8
Pillow>=11.0.0
django-jazzmin>=3.0.0
django-crispy-forms==2.1
crispy-bootstrap5>=2023.10
django-cors-headers==4.3.1
celery==5.4.0
redis==5.1.0
twilio>=9.0.0
django-celery-beat>=2.6.0
django-timezone-field>=6.1.0
requests>=2.32.0
python-dateutil>=2.9.0
django-filter>=24.1
gunicorn>=23.0.0
whitenoise>=6.7.0
dj-database-url>=2.1.0
